<%- include('includes/header') %>
     
<div class="image"></div>
    <div class="content">
     
      <div class="text">
        <h1>Next generation<br> digital banking</h1>
        <p>
          Take your financial life online.Your Easybank<br> account will be a one-stop-shop 
          for spending,<br> saving, budgeting, investing, and much more.
        </p>

        <a href="transfer.ejs" class="button">Transfer money</a>
      </div>
    </div>
  </body>
</html>
